.movie-highlight{

  height: 300px;
  margin-bottom: 10px;

  .movie-highlight-poster{
    img{
      height: 100%;
    }
  }

  .movie-highlight-title{
    padding-top: 10px;
  }
  .movie-highlight-genre{
    padding-bottom: 10px;
    font-size: smaller;
  }
}

.col-lg-2.movie-highlight:nth-child(6n+1){
  clear: both;
}

.col-md-3.movie-highlight:nth-child(4n+1){
  clear: both;
}

.col-sm-3.movie-highlight:nth-child(4n+1){
  clear: both;
}


.col-xs-6.movie-highlight:nth-child(2n+1){
  clear: both;
}


.col-lg-2,
.col-md-3,
.col-sm-3,
.col-xs-6,{
    .movie-highlight-poster{
        height: 220px;
    }
}