.movie-highlight{

  .movie-highlight-poster{
    img{
      width: 100%;
    }
  }

  .movie-highlight-title{
    padding-top: 10px;
  }
  .movie-highlight-genre{
    padding-bottom: 10px;
    font-size: smaller;
  }
}

.col-lg-2.movie-highlight:nth-child(6n+1){
  clear: both;
}

.col-md-2.movie-highlight:nth-child(6n+1){
  clear: both;
}

.col-sm-4.movie-highlight:nth-child(3n+1){
  clear: both;
}