<!DOCTYPE html>
<html ng-app="moviestoday">
<head lang="en" >
    <link rel="apple-touch-icon" sizes="57x57" href="../favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <title>Movies Today</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="app.css"/>
</head>
<body ng-controller="appCtrl">
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PDH7R2"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-67996355-1', 'auto');
  ga('send', 'pageview');
</script>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PDH7R2');</script>

  <div ng-repeat="movie in cinemagic.nshow" class="modal fade more-card" id="Modal_{{movie['_id']}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-body">
                  <div class="row" ng-hide="movie.trailer === 'N/A' || movie.title === 'Kitchen Sink'">
                      <div class="col-xs-12">
                          <iframe width="100%" height="400px" ng-src="{{getYouTubeEmbed(movie.trailer)}}" frameborder="0" allowfullscreen></iframe>
                      </div>
                  </div>
                  <div class="row more-card-info nshow">
                      <div class="col-xs-9"></div>
                      <div class="col-xs-3 more-card-poster">
                          <img ng-src="{{movie.poster}}" alt="{{movie.title}}">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <div ng-repeat="movie in cinemax.nshow" class="modal fade more-card" id="Modal_{{movie['_id']}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-body">
                  <div class="row" ng-hide="movie.trailer === 'N/A' || movie.title === 'Kitchen Sink'">
                      <div class="col-xs-12">
                          <iframe width="100%" height="400px" ng-src="{{getYouTubeEmbed(movie.trailer)}}" frameborder="0" allowfullscreen></iframe>
                      </div>
                  </div>
                  <div class="row more-card-info nshow">
                      <div class="col-xs-9"></div>
                      <div class="col-xs-3 more-card-poster">
                          <img ng-src="{{movie.poster}}" alt="{{movie.title}}">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div ng-repeat="movie in cinemax.csoon" class="modal fade more-card" id="Modal_{{movie['_id']}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-body">
                  <div class="row" ng-hide="movie.trailer === 'N/A' || movie.title === 'Kitchen Sink'">
                      <div class="col-xs-12">
                          <iframe width="100%" height="400px" ng-src="{{getYouTubeEmbed(movie.trailer)}}" frameborder="0" allowfullscreen></iframe>
                      </div>
                  </div>
                  <div class="row more-card-info csoon">
                      <div class="col-xs-9"></div>
                      <div class="col-xs-3 more-card-poster">
                          <img ng-src="{{movie.poster}}" alt="{{movie.title}}">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


<div class="row">
    <div class="col-xs-12" id="app-banner">
        <div class="row">
            <div class="col-xs-12" id="app-banner-section-1">
                <img src="logo.png" alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="app-feedback">
                If you have any comments, requests, ideas or just want to say hi..<br/>
                please feel free to tweet to / message <a href="https://twitter.com/moviestoday256" target="_blank" id="fbk_link_twitter">@moviestoday256</a>
            </div>
        </div>
    </div>
</div>
<div class="row" id="app-menu">
    <div class="col-lg-2 col-md-2 app-menu-section"></div>
    <div class="col-lg-8 col-md-8 app-menu-section">
        <div class="row">
<!--            <div class="col-lg-3 col-md-3 col-sm-3 app-menu-item">About</div>-->
            <div class="col-lg-3 col-md-3 col-sm-3 app-menu-item active cinema_tab" id="tab_cinemax" ng-click="vw_cinema('cinemax')">Century Cinemax<br/>( Acacia Mall )</div>
            <div class="col-lg-3 col-md-3 col-sm-3 app-menu-item cinema_tab" id="tab_cinemagic" ng-click="vw_cinema('cinemagic')">Cinema Magic<br/>( Metroplex Mall )</div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 app-menu-section"></div>
</div>

<!--
=======================
    CENTURY CINEMAX
======================
-->
<div class="row" id="now-showing" ng-show="active_cinema === 'cinemax' ">
    <div class="col-lg-2 col-md-2 col-sm-1  now-showing-section"></div>
    <div class="col-lg-8 col-md-8 col-sm-10 now-showing-section">
        <div class="row">
            <div class="col-xs-12" id="now-showing-prompt">
                Century Cinemax | Now showing
        </div>
        </div>
        <div class="row">
            <div class="col-lg-2 visible-lg hidden-sm movie-highlight" ng-repeat="movie in cinemax.nshow" ng-hide="movie.trailer === 'N/A' || movie.title === 'Kitchen Sink'">
                <div class="movie-highlight-poster" data-toggle="modal" data-target="#Modal_{{movie['_id']}}">
                    <img ng-src="{{movie.poster}}" alt="{{movie.title}}">
                </div>
                <div class="movie-highlight-title">
                    {{movie.title}}
                </div>
                <div class="movie-highlight-genre">
                    {{movie.duration}} - {{movie.content_rating}} {{movie.genre}}
                </div>
            </div>
            <div class="col-md-3 visible-md movie-highlight" ng-repeat="movie in cinemax.nshow" ng-hide="movie.trailer === 'N/A' || movie.title === 'Kitchen Sink'">
                <div class="movie-highlight-poster" data-toggle="modal" data-target="#Modal_{{movie['_id']}}">
                    <img ng-src="{{movie.poster}}" alt="{{movie.title}}">
                </div>
                <div class="movie-highlight-title">
                    {{movie.title}}
                </div>
                <div class="movie-highlight-genre">
                    {{movie.duration}} - {{movie.content_rating}} {{movie.genre}}
                </div>
            </div>
            <div class="col-sm-3 visible-sm movie-highlight" ng-repeat="movie in cinemax.nshow" ng-hide="movie.trailer === 'N/A' || movie.title === 'Kitchen Sink'">
                <div class="movie-highlight-poster" data-toggle="modal" data-target="#Modal_{{movie['_id']}}">
                    <img ng-src="{{movie.poster}}" alt="{{movie.title}}">
                </div>
                <div class="movie-highlight-title">
                    {{movie.title}}
                </div>
                <div class="movie-highlight-genre">
                    {{movie.duration}} - {{movie.content_rating}} {{movie.genre}}
                </div>
            </div>
            <div class="col-xs-6 visible-xs movie-highlight" ng-repeat="movie in cinemax.nshow" ng-hide="movie.trailer === 'N/A' || movie.title === 'Kitchen Sink'">
                <div class="movie-highlight-poster" data-toggle="modal" data-target="#Modal_{{movie['_id']}}">
                    <img ng-src="{{movie.poster}}" alt="{{movie.title}}">
                </div>
                <div class="movie-highlight-title">
                    {{movie.title}}
                </div>
                <div class="movie-highlight-genre">
                    {{movie.duration}} - {{movie.content_rating}} {{movie.genre}}
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-1 now-showing-section"></div>
</div>
<div class="row" id="coming-soon" ng-show="active_cinema === 'cinemax' ">
    <div class="col-lg-2 col-md-2 col-sm-1 coming-soon-section"></div>
    <div class="col-lg-8 col-md-8 col-sm-10 coming-soon-section">
        <div class="row">
            <div class="col-xs-12" id="coming-soon-prompt">
                Century Cinemax | Coming Soon
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 visible-lg movie-highlight" ng-repeat="movie in cinemax.csoon" ng-hide="movie.trailer === 'N/A' || movie.title === 'Kitchen Sink'">
                <div class="movie-highlight-poster" data-toggle="modal" data-target="#Modal_{{movie['_id']}}">
                    <img ng-src="{{movie.poster}}" alt="{{movie.title}}">
                </div>
                <div class="movie-highlight-title">
                    {{movie.title}}
                </div>
                <div class="movie-highlight-genre">
                    {{movie.duration}} - {{movie.content_rating}} {{movie.genre}}
                </div>
            </div>

            <div class="col-md-3 visible-md movie-highlight" ng-repeat="movie in cinemax.csoon" ng-hide="movie.trailer === 'N/A' || movie.title === 'Kitchen Sink'">
                <div class="movie-highlight-poster" data-toggle="modal" data-target="#Modal_{{movie['_id']}}">
                    <img ng-src="{{movie.poster}}" alt="{{movie.title}}">
                </div>
                <div class="movie-highlight-title">
                    {{movie.title}}
                </div>
                <div class="movie-highlight-genre">
                    {{movie.duration}} - {{movie.content_rating}} {{movie.genre}}
                </div>
            </div>

            <div class="col-sm-3 visible-sm movie-highlight" ng-repeat="movie in cinemax.csoon" ng-hide="movie.trailer === 'N/A' || movie.title === 'Kitchen Sink'">
                <div class="movie-highlight-poster" data-toggle="modal" data-target="#Modal_{{movie['_id']}}">
                    <img ng-src="{{movie.poster}}" alt="{{movie.title}}">
                </div>
                <div class="movie-highlight-title">
                    {{movie.title}}
                </div>
                <div class="movie-highlight-genre">
                    {{movie.duration}} - {{movie.content_rating}} {{movie.genre}}
                </div>
            </div>

            <div class="col-xs-6 visible-xs movie-highlight" ng-repeat="movie in cinemax.nshow" ng-hide="movie.trailer === 'N/A' || movie.title === 'Kitchen Sink'">
                <div class="movie-highlight-poster" data-toggle="modal" data-target="#Modal_{{movie['_id']}}">
                    <img ng-src="{{movie.poster}}" alt="{{movie.title}}">
                </div>
                <div class="movie-highlight-title">
                    {{movie.title}}
                </div>
                <div class="movie-highlight-genre">
                    {{movie.duration}} - {{movie.content_rating}} {{movie.genre}}
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-1 coming-soon-section"></div>
</div>


<!--
=======================
     CINEMA MAGIC
======================
-->
  <div class="row" id="now-showing" ng-show="active_cinema === 'cinemagic' ">
      <div class="col-lg-2 col-md-2 col-sm-1  now-showing-section"></div>
      <div class="col-lg-8 col-md-8 col-sm-10 now-showing-section">
          <div class="row">
              <div class="col-xs-12" id="now-showing-prompt">
                  Cinema Magic | Now showing
              </div>
          </div>
          <div class="row">
              <div class="col-lg-2 visible-lg hidden-sm movie-highlight" ng-repeat="movie in cinemagic.nshow" ng-hide="movie.trailer === 'N/A' || movie.title === 'Kitchen Sink'">
                  <div class="movie-highlight-poster" data-toggle="modal" data-target="#Modal_{{movie['_id']}}">
                      <img ng-src="{{movie.poster}}" alt="{{movie.title}}">
                  </div>
                  <div class="movie-highlight-title">
                      {{movie.title}}
                  </div>
                  <div class="movie-highlight-genre">
                      {{movie.duration}} - {{movie.content_rating}} {{movie.genre}}
                  </div>
              </div>
              <div class="col-md-3 visible-md movie-highlight" ng-repeat="movie in cinemagic.nshow" ng-hide="movie.trailer === 'N/A' || movie.title === 'Kitchen Sink'">
                  <div class="movie-highlight-poster" data-toggle="modal" data-target="#Modal_{{movie['_id']}}">
                      <img ng-src="{{movie.poster}}" alt="{{movie.title}}">
                  </div>
                  <div class="movie-highlight-title">
                      {{movie.title}}
                  </div>
                  <div class="movie-highlight-genre">
                      {{movie.duration}} - {{movie.content_rating}} {{movie.genre}}
                  </div>
              </div>
              <div class="col-sm-3 visible-sm movie-highlight" ng-repeat="movie in cinemagic.nshow" ng-hide="movie.trailer === 'N/A' || movie.title === 'Kitchen Sink'">
                  <div class="movie-highlight-poster" data-toggle="modal" data-target="#Modal_{{movie['_id']}}">
                      <img ng-src="{{movie.poster}}" alt="{{movie.title}}">
                  </div>
                  <div class="movie-highlight-title">
                      {{movie.title}}
                  </div>
                  <div class="movie-highlight-genre">
                      {{movie.duration}} - {{movie.content_rating}} {{movie.genre}}
                  </div>
              </div>
              <div class="col-xs-6 visible-xs movie-highlight" ng-repeat="movie in cinemagic.nshow" ng-hide="movie.trailer === 'N/A' || movie.title === 'Kitchen Sink'">
                  <div class="movie-highlight-poster" data-toggle="modal" data-target="#Modal_{{movie['_id']}}">
                      <img ng-src="{{movie.poster}}" alt="{{movie.title}}">
                  </div>
                  <div class="movie-highlight-title">
                      {{movie.title}}
                  </div>
                  <div class="movie-highlight-genre">
                      {{movie.duration}} - {{movie.content_rating}} {{movie.genre}}
                  </div>
              </div>

          </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-1 now-showing-section"></div>
  </div>




<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://stickyjs.com/jquery.sticky.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>
