.more-card{

  .more-card-poster{
    img{
      width: 100%;
    }

    padding: 0px;
  }

  .more-card-info.csoon{
    background-color: #fafaf2;
  }

  .more-card-info.nshow{
    background-color: #222;
  }

  .modal-body{
    padding: 0px;
  }

  .modal-content{
    background:none !important;
  }
}
